main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section {
    max-width: 1440px;
    display: flex;
    height: 100vh;
    align-items: center;
}

.sectionTitle{
    width: 200px;
    text-transform: Capitalize;
}

.sectionContent p{
    margin: 0;
}

#intro { 
    
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;    
}
#intro div {
    padding: 100px;
}
h1 {
    font-size: 3rem;
    font-weight: normal;
}