main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

main header{
    height: 100vh;
    position: relative;
    display:flex;
    align-items: center;
}

#intro {
    height: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* .profile {
    border: 1px solid black;
    width: 50vw;
    height: 200px;
} */

#aboutMe, #skills, #projects, #education{
    display: flex;
    padding: 5% 5%;
}

.sectionTitle {
    text-align: right;
    text-transform: uppercase;
    color:var(--text-main);
    font-weight: bold;
    min-width: 150px;
    margin-right: 10px;
}

.sectionContent {
    width: 70%;
    display:flex;
    padding: 0 5%;
    border-left: 2px solid var(--text-main);
}

.sectionContent li {
    list-style: none;
}

#aboutMe .sectionContent {
    max-width: 900px;
    /* padding-right: 30%; */
}

.list {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.skillTitle {
    text-transform: capitalize;
    font-weight: bold;
}

.icon {
    height: 30px;
    margin-left: 5px;
    padding: 5px;
}

.rightArrow {    
    filter: invert(14%) sepia(80%) saturate(974%) hue-rotate(182deg) brightness(101%) contrast(92%);
}
.icon:hover{
    filter: invert(73%) sepia(59%) saturate(238%) hue-rotate(117deg) brightness(90%) contrast(89%);
}

#projects .sectionContent {
    display: block;
}

.project {
    /* clear: right; */
    height: min-content;
    overflow: auto;
    margin-bottom: 20px;
    position: relative;
}

.projectDesc {
    padding: 10px 0 5px;
}

.projectImg {
    margin: 5px;
    float: right;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: right top;
    box-shadow: 1px 1px 5px 1px var(--text-main);
}

.projectUsed {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}
.used {
    margin: 0 2px;
    font-size: 0.75rem;
    color: var(--text-main);
    padding: 5px;
    border: 1px solid var(--text-main);
    border-radius: 15px;
}

.achievements {
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.achievement {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.degree {
    font-weight: bold;
    margin-bottom: 5px;
}
.location, .school {
    font-size: 0.8rem;
}

#intro {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media only screen and (max-width: 900px) {
    #aboutMe, #skills, #projects, #education{
        flex-direction: column;
    }
    .sectionTitle {
        text-align: center;
        border-bottom: 2px solid var(--text-main);
        margin: 0 auto 10px;
        width: 50%;
    }
    .sectionContent {
        border: none;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        min-width: fit-content;
    }
    .project {
        width: 70%;
        margin: 0 auto 20px;
    }
    .projectImg {
        display: none;
    }
    .achievements {
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        margin: 0 auto;
    }
    .achievement {
        width: max-content;
        margin-bottom: 20px;
    }
    .list, .aboutMe {
        width: 70%;
        margin: 0 auto;
    }
} 