#sidebar {    
    visibility: hidden;
    display: none;

    width: 5vw;
    position: relative;
    float: left;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#sidebar div {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width: 30%;
}

#sidebar span {
    border: 2px solid black;
    height: 50px;
}

#sidebar div a:hover {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateY(-5px);
}
.svg {
    /* filter: invert(99%) sepia(75%) saturate(1585%) hue-rotate(322deg) brightness(104%) contrast(101%); */
}

@media  screen and (min-width: 500px) {
    #sidebar {
        visibility: visible;
        display: flex;
    }
}