#navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(117, 201, 183, 0.5);
  min-width: 120px;
}
#navbar section {
  display: flex;
  align-items: center;
}





.created {
  padding-left: 10px;
  float: left;
}
.socialMedia {
  display: flex;
}
#navbar p{
  padding: 20px 0;
  text-align: center;
}

.socialMedia a{
  padding: 10px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: black;
}

.socialMedia a:hover {
  background-color: white;
  border-radius: 15px;
  text-shadow: -1px -1px 1px black;
  color: var(--text-main);
}

@media only screen and (max-width: 900px) {
  #navbar {
    flex-wrap: wrap;
  }
  .created {
    padding: 0;
    order: 1;
  }
  .socialMedia {
    margin-top: 5px;
    order: 0;
  }
}



