#navbar {
  display: flex;
  /* flex-direction: column; */
  /* position: sticky; */
  justify-content: space-around;
  background-color: rgba(117, 201, 183, 0.5);
  min-width: 120px;
}
#navbar section {
  display: flex;
  align-items: center;
}
.created {
  padding-left: 10px;
  float: left;
}
.navItems{
  flex-basis: 50%;
}
.socialMedia {
  display: flex;
}
#navbar p{
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}
#navbar a{
  padding: 10px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: black;
}
#navbar .navItems a:hover {    
  background-color: white;
  box-shadow: -6px 0 5px black;
}
