:root{
  --one: #04724D;
  --two: #56876D;
  --three: #8DB38B;
  --four: #BDBEA9;
  --five: #D2AB99;

  --lightlime: #abd699;
  --freshlemon: #ffe26a;
  --teal: #75c9b7;
  --mint: #c7ddcc;
  --navy: #16123f;

  --background: #14365d;
  --text-main: #75c9b7;
  --text-secondary: #c7ddcc;
  --text-accent: #abd699;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: var(--background) white;
}

body {
  text-align: center;
  /* background-image: linear-gradient(to bottom right, var(--lightlime), var(--teal)); */
  /* background-color: var(--background); */
  position: relative;
  margin: 0;
  font-family: "Source Sans Pro",system,system-ui,Helvetica,Arial,sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > * {
  padding: 0 100px;
  max-width: 1000px;
  margin: 0 auto;
}