:root{
  --one: #04724D;
  --two: #56876D;
  --three: #8DB38B;
  --four: #BDBEA9;
  --five: #D2AB99;
}

html {
  scroll-behavior: smooth;
}

body {
  border: 1px solid black;
  background-color: var(--four);
  position: relative;
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome {
  margin: 0 auto;
  opacity: 0%;
  animation: 1s ease-out 0s 1 slideInTop;
  animation-fill-mode: forwards;
  color: var(--one);
}

.welcome:last-child {
  animation-delay: 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--one);
  box-shadow: 0 1px 5px var(--five);
  min-height: min-content;
}

header h1 {
  margin: 0 0 15px 15px;  
  color: var(--three);
  text-shadow: 3px 3px 3px var(--five);
}

#nav-items {
  margin: 0;
  list-style: none;
  display: flex;
}

#nav-items li {    
  padding: 10px;
}

#nav-items a {
  text-decoration: none;
  color: var(--three);
  text-shadow: 1px 1px 1px var(--five);
  padding: 5px;
}

#nav-items a:hover {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
}

.nav-logo {
  width: 100px;
}

main h1 {
  margin-inline: auto;
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
}
/*                 about me               */

#about-me {
  margin-top: 5vh;
  padding: 10px;
  background-color: var(--five);
  border-radius: 10px;
  margin-inline: auto;
  width: 75vw;
  min-height: 25vw;
  position: relative;
  /* display: flex; */
  justify-content: center;
}

#about-me img{
  float: left;
  margin-left: 5px;
  width: 20vw;
  height: 100%;  
  border: 5px solid white;
  border-radius: 50%;
}

#about-me p {
  border-radius: 5px;  
  background-color: #fff;
}

/*                 projects               */

.cards{
  width: 90vw;
  margin-top: 1vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}

.card {
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 5px black;
}

.card div {
  padding: 10px;
  text-align: justify;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
}

.card p {
  padding: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.github {
  flex-basis: auto;
  width: 50px;
  float: left;
  background-color: white;
  border-radius: 50%;
  height: 50px;
}

.github:hover {
  background-color: white;
  border-radius: 50%;
  height: 50px;
}

/*                 contact                 */

#contact-form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  max-width: 50vw;
  margin-inline: auto;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
  box-shadow: 0 1px 5px var(--five);
}

#contact-form div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

#contact-form button, #contact-form label, #contact-form input, #contact-form textarea, #contact-form p  {
  width: 100%;
  border-radius: 10px;
}

/*                 footer                 */

footer {  
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: var(--one);
  box-shadow: 0 1px 5px var(--five); 
  position: fixed;
  bottom: 0;
}

footer p {
  margin: auto;
}

@keyframes slideInTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    opacity: 100%;
    transform: translateY(100%);
  }
}

@media only screen and (min-width: 450px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);    
  }

  .card div {
    visibility: hidden;
    position: absolute;
  }
  
  .card:hover div {
    visibility: visible;
  }
}