body {
  position: relative;
  height: 100vh;

  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*                 Header                 */
header{
  position: sticky;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: rgb(112, 156, 177);
  box-shadow: 0 1px 10px black;
}
.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.nav-logo {
  width: 100px;
}

/*                  Main                  */
main {
  text-align: center;
}

.projects{
  width: 90vw;
  margin-top: 3vh;
  margin-inline: auto;
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.projects a {
  text-decoration: none;
}

.projectCard {  
  background-color: grey;
}

.projectCard div {
  display: none;
}

.projectCard:hover div {
  display: block;
  color: blue;
}


/*                 footer                 */
footer {  
  bottom: 0;
  width: 100%;
  height: 5vh;

  display: flex;
  justify-content: space-between;
  background-color: rgb(112, 156, 177);
  box-shadow: 0 1px 10px black;
}

footer p {
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
