

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*                 projects               */

.cards{
  width: 90vw;
  margin-top: 1vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}

.card {
  box-shadow: 0 0 2px black;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 0 5px black;
}

.card div {
  padding: 10px;
  text-align: justify;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
}

.card p {
  padding: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.github {
  flex-basis: auto;
  width: 50px;
  float: left;
  background-color: white;
  border-radius: 50%;
  height: 50px;
}

.github:hover {
  background-color: white;
  border-radius: 50%;
  height: 50px;
}

/*                 contact                 */

#contact-form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  max-width: 50vw;
  margin-inline: auto;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--five);
  color: var(--one);
  text-shadow: 3px 3px 3px var(--two);
  box-shadow: 0 1px 5px var(--five);
}

#contact-form div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

#contact-form button, #contact-form label, #contact-form input, #contact-form textarea, #contact-form p  {
  width: 100%;
  border-radius: 10px;
}

/*                 footer                 */

footer {  
  bottom: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  background-color: var(--one);
  box-shadow: 0 1px 5px var(--five); 
  position: fixed;
  bottom: 0;
}

footer p {
  margin: auto;
}

@keyframes slideInTop {
  0% {
    transform: translateY(0%);
  }
  100% {
    opacity: 100%;
    transform: translateY(100%);
  }
}

@media only screen and (min-width: 450px) {
  .cards{
    grid-template-columns: repeat(2, 1fr);    
  }

  .card div {
    visibility: hidden;
    position: absolute;
  }
  
  .card:hover div {
    visibility: visible;
  }
}