#navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  float: left;
  justify-content: space-between;
  background-color: rgba(0, 98, 116, 0.5);
  box-shadow: 0 0 10px black;
}
#navbar section {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 20px;
  margin: 0 auto;
  width: 100%;
}
.navItems{
  flex-basis: 50%;
  justify-content: center;
}
ul {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}
#navbar p{
  padding: 20px 0;
  margin: 0 auto;
}
#navbar li {
  padding: 20px 0;
  list-style: none;
}
#navbar a{
  width: 100%;
  float: right;
  text-decoration: none;
  color: black;
  padding: 5px;
}
#navbar a:hover {    
  background-color: aqua;
}
