#navbar {
  width: 100%;
  /* position: fixed; */
  top: 0;
  
}

#nav-items {
  box-shadow: 0 0 10px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  width: fit-content;
  padding: 0;
  border-radius: 0 0 15px 15px;
  margin: 0 auto;
  list-style: none;
  
  }

#nav-items li {    
  padding: 10px;
}

#nav-items li:hover {    
  background-color: aqua;
}

#nav-items li:first-child:hover {    
  border-radius: 0 0 0 15px;
}

#nav-items li:last-child:hover {
  border-radius: 0 0 15px 0;
}

#nav-items a {
  float: right;
  text-decoration: none;
  color: black;
  padding: 5px;
}