#navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  float: left;
  justify-content: space-between;
  background-color: rgba(0, 98, 116, 0.5);
  min-width: 120px;
}
#navbar section {
  display: flex;
  align-items: center;
}
#navbar section div {
  width: 100%;
}
.navItems{
  flex-basis: 50%;
}
#navbar p{
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}
#navbar a{
  padding: 10px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: black;
}
#navbar .navItems a:hover {    
  background-color: white;
  box-shadow: -6px 0 5px black;
}
